<%= provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

  <ul class="users">
  	<%= render @users %> <!-- forma compatta per esprimere l'iteratore-->
  </ul>

<%= will_paginate %>
