<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">    
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!-- visualizza i messaggi di errore -->

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :twitter_uid %>
      <%= f.text_field :twitter_uid %>
      
      <%= f.label :facebook_uid %>
      <%= f.text_field :facebook_uid %>
      
      <%= f.label :city%>
      <%= f.text_field :city%>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Conferma", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>