<a href="<%= user_path(current_user) %>"></a>
<h1>
  <%= current_user.name %>
</h1>
<p>Città: <%=current_user.city%></p>
<p>Twitter_uid: <%=current_user.twitter_uid%></p>
<p>Facebook_uid: <%=current_user.facebook_uid%></p>
<p>Email: <%=current_user.email%></p>






