
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>OAuth 2.0</h1>
    <p>Integrare servizi come Facebook e Twitter in un progetto Rails</p>

    <p style="text-align: center; margin: 50px 0px;">
    	<%= link_to "Accedi", signin_path, class: "btn btn-large btn-success" %>
    </p>
    <p style="text-align: center;">
    	<a href="signup?provider=twitter" class="btn btn-large btn-info" >Iscriviti con twitter</a>
		<a href="signup?provider=facebook" class="btn btn-large btn-primary">Iscriviti con facebook</a>    
    </p>                       
                                                        
  </div>
<% end %> 