// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p > a {
  width:150px;
  margin: 0px 10px;
  font-weight:normal;
}
