<header> 
        <nav class="round">
          <ul>
            <!-- <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Users",users_path %></li> -->
            
            <% if signed_in? %>
 				<li><%= link_to "Profile", user_path(current_user) %></li>
 				<li><%= link_to "Settings",edit_user_path(current_user)%>
 				<li><%= link_to "Sign out", signout_path, :method => "delete" %></li> 
 			<% end %>	       
          </ul>
        </nav>
      </header>