<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title> 
  <%= render '/layouts/stylesheets'%>
</head>
<body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= render '/layouts/header'%>
      <section class="round">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </section>
    </div>
  </body>
</html>
